.container{
    background-color: rgb(117, 117, 143);
    height: 300px;
    width: 400px;
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 2rem;
}

body{
    background-color: rgb(73, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.btn{
    height: 2.3rem;
    width: 4.2rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: rgb(98, 73, 119);
    color: #fff;
    font-size: 1rem;
    margin: 0.5rem;
    
}

#time{
    background-color: rgb(172, 156, 136);
    font-size:2.7rem ;
    height: 3.5rem;
    width: 7rem;
   text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.heading{
      font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #130202;
  text-decoration: underline;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
