body{
    margin: 0;
    background-color: #f6f7fb;
}

.wrapper{
    max-width: 530px;
    background-color: rgb(228, 235, 235);
    margin: 5.5rem auto;
    padding: 24px;
    border-radius: 3rem;
    text-align: center;
    box-shadow: 0px 3px 10px rgb(92, 90, 90);

}

.reactions{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 22px 0 10px;
    align-items: center;

}

.reaction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 64px;
    align-items: center;
}

.emoji-btn{
    font-size: 28px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  transition:  transform 0.14s ease, box-shadow 0.14s ease, border-color 0.14s;
  background-color: rgb(181, 181, 190);
}

.emoji-btn:hover{
      transform: translateY(-4px) scale(1.06);
}

.count{
    display: block;
    font-weight: 600;
}
