body{
    margin: 0;

}
/* 
.navbar{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;

   
} */

.navbar{
    position: fixed;      
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;  
    background-color: rgba(255,255,255,0.95);
    transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    z-index: 999;
}


.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    padding: 3rem;

}

.navbar ul li{
    
}

.top-container{
      background-image: url("https://images.unsplash.com/photo-1547394765-185e1e68f34e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80");
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    margin: 5px;
}

.bottom-container{
    height: 100vh;
}

.navbar.active {
  background: black; 
  color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}