body{
    background-color: rgb(201, 202, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;

}

.container{
    background-color: rgb(209, 175, 88);
    height: 17rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(2, 177, 2);

}

.temp-container{
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 5rem;
    

    
}

.temp-container label{
    width: 5.5rem;

}

.input {
  width: 12rem;
  height: 1.8rem;
  border-radius: 0.5rem;
  border: 1px solid orange;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}