body{
    background-color: rgb(177, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    
    height: 18rem;
    width: 28rem;
    background-color: rgb(229, 235, 235);
    text-align: center;
    margin-top: 8rem;
    border-radius: 0.5rem;

}

.rating-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    
    
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

.rating{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding: 9px;
    
}

.rating:hover,
.rating.active
{
  background: darkseagreen;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: aliceblue;
  transition: all 300ms ease;
}

.Btn{
     height: 3rem;
     width: 9rem;
     border-radius: 0.5rem;
     background-color: rgb(68, 124, 146);
     font-size: 1rem;
     color: white;
     border: 1px solid rgb(68, 124, 146) ;
}

.rating img{
     width: 40px;
}